<header>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-nav-bar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{{ site.baseurl }}/" class="navbar-brand">{{ site.title }}</a>
      </div>

      <div class="collapse navbar-collapse" id="site-nav-bar">
        <ul class="nav navbar-nav navbar-right">
          {% assign titled_pages = site.pages | where_exp: "item", "item.title" %}
          {% assign ordered_pages = titled_pages | where_exp: "item", "item.site_pages_order" | sort: "site_pages_order" %}
          {% assign unordered_pages = titled_pages | where_exp: "item", "item.site_pages_order == nil" %}
          {% assign titled_pages = ordered_pages | concat: unordered_pages %}
          {% for p in titled_pages %}
            <li {% if page.title == p.title %}class="active"{% endif %}><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}{% if page.title == p.title %}<span class="sr-only"> (current)</span>{% endif %}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>

</header>
