.page-content {
    padding-left: 5%;
    padding-right: 5%;
    @include side-padding(800px, 10%);
    @include side-padding(1200px, 15%);
    @include side-padding(1400px, 20%);
}
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: $footer-height + 20px;
    font-size: $low-font-size;
}

.h5, h5 {
    font-size: $low-font-size;
}

.footer {
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}
